@charset 'UTF-8';

/*===============================
 * base
 *=============================*/
html {
  /* 16px*62.5 = 10px */
  font-size: 62.5%;
}
body {
  color: #333;
  font-size: 1.6rem;
  font-family: "Hiragino Kaku Gothic ProN", "Meiriyo", sans-serif;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
h1, ul {
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.site-width {
  width: 980px;
  margin: 0 auto;
}
input, select {
  font-size: 1.6rem;
  display: block;
}
.two-column {
  /* position: relative; */
  overflow: hidden;
  margin-bottom: 50px;
}
/*===============================
 * header
 *=============================*/
.header {
  background-color: #0F2950;
  width: 100%;
  height: 80px;
  line-height: 80px;
  margin-bottom: 20px;
}
.logo {
  font-size: 3rem;
  color: #fff;
  margin-left: 20px;
  float: left;
}
.top-nav {
  float: right;
}
.top-nav ul li {
  float: left;
  width: 120px;
}
.top-nav-link{
  color: #fff;
  border-left: 1px solid rgba(255, 255, 255); 
  height: 100%;
  width: 100%;
  display: block;
  text-align: center;
}

/*===============================
 * footer
 *=============================*/
.footer {
  position: fixed;
  bottom: 0;
  background-color: #0F2950;
  color: #fff;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

/*===============================
 * main
 *=============================*/

/*===============================
 * search 
 *=============================*/
.sidebar {
  /* position: absolute; */
  float: left;
  width: 200px;
  border: 5px solid #f1f1f1;
  margin-left: 50px;
}
.search-form {
  overflow: hidden;
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
}
.search-form input[type="text"],
.search-form select {
  width: 100%;
  height: 40px;
  background: #f6f5f5;
  padding: 5px;
  margin-bottom: 10px;
  border: none;
}
.search-form input[type="submit"] {
  background-color: rgba(0, 0, 0);
  color: #fff;
  width: 80px;
  height: 40px;
  margin-bottom: 10px;
  float: right;
}
/*===============================
 * post 
 *=============================*/
.post {
  /* position: absolute; */
  float: right;
  width: 610px;
  margin-right: 100px;
  /* padding-bottom: 100%; */
}
.post-list {
  border: 5px solid #f1f1f1;
  position: relative;
  padding: 10px;
  margin-bottom: 10px;
}
.post-user-img {
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.post-user-name {
  display: inline-block;
  width: 500px;
  margin-bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.post-time {
  position: absolute;
  top: 10px;
  right: 10px;
}
.post-tool-name {
  width: 570px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 2rem;
}
.post-wrap-center {
  overflow: hidden;
}
.post-tool-introduction {
  float: left;
  width: 400px;
}
.post-tool-img {
  float: right;
  width: 150px;
  height: 150px;
}
.post-wrap-icon {
  text-align: right;
}
.post-wrap-icon > i {
  cursor: pointer;
}
/*===============================
 * pagenation 
 *=============================*/
.pagenation {
  text-align: center;
  font-weight: bold;
}
.pagenation-item {
  display: inline-block;
  width: 30px;
  height: 40px;
  line-height: 40px;
  background-color: #f6f5f5;
}
.pagenation-item a {
  display: block;
  width: 100%;
  height: 100%;
}
.pagination-item-now {
  background-color: #111;
  color: #fff;
}
.pagination-item-now a {
  color: #fff;
}

/*===============================
 * form
 *=============================*/
.form-container {
  border: 5px solid #f1f1f1;
  width: 600px;
  margin: 0 auto;
}
.form {
  width: 80%;
  margin: 20px auto;
}
.form-title {
  font-size: 2.5rem;
  text-align: center;
}
.input-msg {
  color: #FF4F50;
}
.form-label {
  display: block;
  margin-bottom: 20px;
}
.form-label input[type="text"],
.form-label input[type="password"] {
  display: block;
  width: 100%;
  height: 40px;
  background-color: #f6f5f5;
  padding: 5px;
  border: none;
}
.form-submit {
  width: 100%;
  height: 40px;
  background-color: #FFCC66;
  border: none;
  margin-top: 40px;
}